body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url(images/Frost-bite-entertainment-district.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;


}

.hero h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.text-wrapper h1,
.text-wrapper p {
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9),
                
}

.text-wrapper p {
    font-weight: 600;
    color: #f8fcff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.95), 0 0 14px rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.45);
    display: inline;
    padding: 2px 6px;
    border-radius: 4px;

}